<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>欢迎使用员工管理系统</title>
    <base href="/">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="../assets/css/ace.min.css" />
    <link rel="stylesheet" href="../assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="../assets/css/ace-skins.min.css" />


    <!--inline styles related to this page-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body id="zhuyao">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand">
                <small>
                    <i class="icon-leaf"></i>
                    欢迎使用员工管理系统
                </small>
            </a><!--/.brand-->
            <div style="text-align: right; vertical-align: center">
                <button class="btn btn-info btn-small textone" onclick="logout()">登出</button>
            </div>
        </div><!--/.container-fluid-->
    </div><!--/.navbar-inner-->
</div>



<div class="main-container container-fluid">
    <a class="menu-toggler" id="menu-toggler" href="#">
        <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-small btn-success">
                    <i class="icon-signal"></i>
                </button>

                <button class="btn btn-small btn-info">
                    <i class="icon-pencil"></i>
                </button>

                <button class="btn btn-small btn-warning">
                    <i class="icon-group"></i>
                </button>

                <button class="btn btn-small btn-danger">
                    <i class="icon-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!--#sidebar-shortcuts-->

        <ul class="nav nav-list">
            <li>
                <a id="dateViewId" onclick="" class="dropdown-toggle">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text">员工模块</span>
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu">
                    <li>
                        <a id="yingYeJinEId" onclick="userView()">
                            <i class="icon-double-angle-right"></i>
                            <span>员工管理</span>
                        </a>
                    </li>
                    <li>
                        <a id="resignId" onclick="resignView()">
                            <i class="icon-double-angle-right"></i>
                            <span>员工解聘用管理</span>
                        </a>
                    </li>
                    <li>
                        <a id="trainId" onclick="trainView()">
                            <i class="icon-double-angle-right"></i>
                            <span>人事培养管理</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a id="departmentManageId" onclick="" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span class="menu-text">部门模块</span>
                    <b class="arrow icon-angle-down"></b>
                </a>

                <ul class="submenu">
                    <li>
                        <a id="departmentId" onclick="departmentView()">
                            <i class="icon-double-angle-right"></i>
                            <span>部门管理</span>
                        </a>
                    </li>
                    <li>
                        <a id="departmentUpdateId" onclick="departmentUpdateView()">
                            <i class="icon-double-angle-right"></i>
                            <span>人员流动管理</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a id="salaryManageId" onclick="salaryView()" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span class="menu-text">薪酬管理</span>
<!--                    <b class="arrow icon-angle-down"></b>-->
                </a>

<!--                <ul class="submenu">-->
<!--                    <li>-->
<!--                        <a id="salaryId" onclick="salaryView()">-->
<!--                            <i class="icon-double-angle-right"></i>-->
<!--                            <span>薪资发放</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
            </li>

            <li>
                <a id="welfareManageId" onclick="welfareView()" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span class="menu-text">福利管理</span>
                </a>
            </li>

            <li>
                <a id="attendanceManageId" onclick="attendanceView()" class="dropdown-toggle">
                    <i class="icon-calendar"></i>
                    <span class="menu-text">考勤管理</span>
                </a>
            </li>

            <li>
                <a id="leaveManageId" onclick="leaveView()" class="dropdown-toggle">
                    <i class="icon-leaf"></i>
                    <span class="menu-text">请假管理</span>
                </a>
            </li>

        </ul><!--/.nav-list-->

        <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a id="bigGuide" href="#"></a>

                    <span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
                </li>
                <li id="smallGuide" class="active"></li>
            </ul><!--.breadcrumb-->

            </ul><!--.breadcrumb-->

        </div>

        <div style="width:100%;height:600px;">
            <iframe id="Mainid" src="userManager" style="width:100%;height:600px;"  frameBorder="0" scrolling="no"></iframe>
        </div>

        <!--/#ace-settings-container-->
    </div><!--/.main-content-->
</div><!--/.main-container-->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<!--basic scripts-->

<!--[if !IE]>-->

<script src="../assets/js/jquery-2.0.3.min.js"></script>

<!--<![endif]-->

<!--[if IE]>
<script src="../assets/js/jquery-1.10.2.min.js"></script>

<![endif]-->

<!--[if !IE]>-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='${ctx}/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!--<![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='${ctx}/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='${ctx}/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="${ctx}/assets/js/bootstrap.min.js"></script>

<!--page specific plugin scripts-->

<!--[if lte IE 8]>
<script src="../assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="../assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="../assets/js/jquery.slimscroll.min.js"></script>
<script src="../assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="../assets/js/jquery.sparkline.min.js"></script>
<script src="../assets/js/flot/jquery.flot.min.js"></script>
<script src="../assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="../assets/js/flot/jquery.flot.resize.min.js"></script>

<script src="../assets/js/ace-extra.min.js"></script>


<!--ace scripts-->

<script src="../assets/js/ace-elements.min.js"></script>
<script src="../assets/js/ace.min.js"></script>

<!--inline scripts related to this page-->

<script type="text/javascript">
    $(function() {
        $('.easy-pie-chart.percentage').each(function(){
            var $box = $(this).closest('.infobox');
            var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
            var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
            var size = parseInt($(this).data('size')) || 50;
            $(this).easyPieChart({
                barColor: barColor,
                trackColor: trackColor,
                scaleColor: false,
                lineCap: 'butt',
                lineWidth: parseInt(size/10),
                animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
                size: size
            });
        })

        function drawPieChart(placeholder, data, position) {
            $.plot(placeholder, data, {
                series: {
                    pie: {
                        show: true,
                        tilt:0.8,
                        highlight: {
                            opacity: 0.25
                        },
                        stroke: {
                            color: '#fff',
                            width: 2
                        },
                        startAngle: 2
                    }
                },
                legend: {
                    show: true,
                    position: position || "ne",
                    labelBoxBorderColor: null,
                    margin:[-30,15]
                }
                ,
                grid: {
                    hoverable: true,
                    clickable: true
                }
            })
        }
        drawPieChart(placeholder, data);

        /**
         we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
         so that's not needed actually.
         */
        placeholder.data('chart', data);
        placeholder.data('draw', drawPieChart);



        var $tooltip = $("<div class='tooltip top in hide'><div class='tooltip-inner'></div></div>").appendTo('body');
        var previousPoint = null;

        placeholder.on('plothover', function (event, pos, item) {
            if(item) {
                if (previousPoint != item.seriesIndex) {
                    previousPoint = item.seriesIndex;
                    var tip = item.series['label'] + " : " + item.series['percent']+'%';
                    $tooltip.show().children(0).text(tip);
                }
                $tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
            } else {
                $tooltip.hide();
                previousPoint = null;
            }

        });


        var d1 = [];
        for (var i = 0; i < Math.PI * 2; i += 0.5) {
            d1.push([i, Math.sin(i)]);
        }

        var d2 = [];
        for (var i = 0; i < Math.PI * 2; i += 0.5) {
            d2.push([i, Math.cos(i)]);
        }

        var d3 = [];
        for (var i = 0; i < Math.PI * 2; i += 0.2) {
            d3.push([i, Math.tan(i)]);
        }


        var sales_charts = $('#sales-charts').css({'width':'100%' , 'height':'220px'});
        $.plot("#sales-charts", [
            { label: "Domains", data: d1 },
            { label: "Hosting", data: d2 },
            { label: "Services", data: d3 }
        ], {
            hoverable: true,
            shadowSize: 0,
            series: {
                lines: { show: true },
                points: { show: true }
            },
            xaxis: {
                tickLength: 0
            },
            yaxis: {
                ticks: 10,
                min: -2,
                max: 2,
                tickDecimals: 3
            },
            grid: {
                backgroundColor: { colors: [ "#fff", "#fff" ] },
                borderWidth: 1,
                borderColor:'#555'
            }
        });


        $('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('.tab-content')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            return 'left';
        }


        $('.dialogs,.comments').slimScroll({
            height: '300px'
        });


        //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
        //so disable dragging when clicking on label
        var agent = navigator.userAgent.toLowerCase();
        if("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
            $('#tasks').on('touchstart', function(e){
                var li = $(e.target).closest('#tasks li');
                if(li.length == 0)return;
                var label = li.find('label.inline').get(0);
                if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
            });

        $('#tasks').sortable({
                opacity:0.8,
                revert:true,
                forceHelperSize:true,
                placeholder: 'draggable-placeholder',
                forcePlaceholderSize:true,
                tolerance:'pointer',
                stop: function( event, ui ) {//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
                    $(ui.item).css('z-index', 'auto');
                }
            }
        );
        $('#tasks').disableSelection();
        $('#tasks input:checkbox').removeAttr('checked').on('click', function(){
            if(this.checked) $(this).closest('li').addClass('selected');
            else $(this).closest('li').removeClass('selected');
        });
    })

    function userView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("yingYeJinEId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='userManager';
    }

    function resignView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("resignId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='resign';
    }

    function trainView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("trainId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='train';
    }

    function salaryView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("salaryManageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='salary';
    }

    function departmentView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("departmentId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='department';
    }

    function departmentUpdateView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("departmentUpdateId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='departmentUpdate';
    }

    function welfareView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("welfareManageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='welfare';
    }

    function attendanceView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("attendanceManageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='attendance';
    }

    function leaveView(){
        var a=document.getElementById("dateViewId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("leaveManageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='leave';
    }


    function stayManage(){

    }
    function reservations(){
        var a=document.getElementById("stayManageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("reservationsId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='${ctx}/reservation/tolist.spring';
    }
    function personage(){
        var a=document.getElementById("stayManageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("personageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
        document.getElementById('Mainid').src='${ctx}/register/tolist.spring';
    }
    function group(){
        var a=document.getElementById("stayManageId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("bigGuide").innerHTML=a+"";
        var s=document.getElementById("groupId").getElementsByTagName('span')[0].innerHTML;
        document.getElementById("smallGuide").innerHTML=s+"";
    }

    function logout(){
        $.post('pay/user/logout',{},function(data){
            if(data.success === true){
                $.messager.show({
                    title:'提示',
                    msg:'操作成功'
                });
            }
        });
        top.location = '/login';
    }

</script>
</body>
</html>