<!doctype html>
<html>
<head>

    <title></title>
    <!--    <base href="/">-->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../css/page.css" type="text/css"/>
    <!--    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">  &lt;!&ndash; start 响应式布局要添加的 &ndash;&gt;-->
    <!--    <script src="../bootstrap/js/jquery-3.1.1.min.js"></script>-->
    <!--    <script src="../bootstrap/js/bootstrap.js"></script>-->
    <!--    <script type="text/javascript" src="../js/page.js"></script>-->
    <link rel="stylesheet" href="../layui/src/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/material-teal/easyui.css" >
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css" />

    <base href="/">
    <script src="../layui/src/layui.js"></script>
    <script src="../easyui/jquery.min.js"></script>
    <script src="../easyui/jquery.easyui.min.js"></script>
    <script src="../easyui/locale/easyui-lang-zh_CN.js"></script>

</head>


<body>

<div id="mainLayout" class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west'">
        <table id="datagrid" class="easyui-datagrid"
               data-options="title:'薪资管理',fit:true,fitColumns:true,url:'pay/salary/select',toolbar:'#datagrid-toolbars',singleSelect:true">
            <thead>
            <tr>
                <th data-options="field:'id',width:100,height:50,align:'center'">ID</th>
                <th data-options="field:'payable',width:100,align:'center'">应发工资</th>
                <th data-options="field:'realWages',width:100,align:'center'">实际工资</th>
                <th data-options="field:'month',width:100,align:'center'">月份</th>
            </tr>
            </thead>
        </table>
    </div>

    <div id="addDig" class="easyui-dialog"  data-options="title:'添加薪资',width:290,height:220,closed:true,modal:true,buttons:'#addForm-Button'">
        <form id="addForm" method="post">
            <ul>
                <li>员工名称&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select id="userSelect" name="userSelect" style="width: 168px">
                </select></li>
                <li><input id="payable" name="payable" class="easyui-textbox" data-options="width:250,height:30,label:'应发工资'" /></li>
                <li><input id="realWages" name="realWages" class="easyui-textbox" data-options="width:250,height:30,label:'实际工资'" /></li>
                <li><input id="month" name="month" class="easyui-textbox" data-options="width:250,height:30,label:'月份'" /></li>
            </ul>
        </form>
    </div>
    <div id="addForm-Button">
        <button class="btn btn-info btn-small textone" onclick="saveFunction()">保存</button>
    </div>

    <div id="updateDig" class="easyui-dialog" data-options="title:'薪资修改',width:290,height:200,closed:true,modal:true,buttons:'#updateDig-buttons'">
        <form id="updateFrom" method="post">
            <input type="hidden" id="id" name="id" />
            <ul>
                <li><input id="userNameUpdate" name="userName" class="easyui-textbox" data-options="required:true,width:250,height:30,label:'员工名称'" readonly="true"/></li>
                <li><input id="payableUpdate" name="payable" class="easyui-textbox" data-options="width:250,height:30,label:'应发工资'" /></li>
                <li><input id="realWagesUpdate" name="realWages" class="easyui-textbox" data-options="width:250,height:30,label:'实际工资'" /></li>
                <li><input id="monthUpdate" name="month" class="easyui-textbox" data-options="width:250,height:30,label:'月份'" /></li>
            </ul>
        </form>
    </div>

    <div id="updateDig-buttons">
        <button class="btn btn-info btn-small textone" onclick="toUpdate()">保存</button>
    </div>
</div>
<script type="text/javascript">
    $.ajaxSetup({
        contentType:"application/x-www-form-urlencoded;charset=utf-8",
        complete:function(XMLHttpRequest,textStatus){
            //通过XMLHttpRequest取得响应结果
            const res = XMLHttpRequest.responseText;
            try{
                const jsonData = JSON.parse(res);
                if(jsonData.code === '10001'){
                    //如果超时就处理 ，指定要跳转的页面(比如登陆页)
                    alert(jsonData.message);
                    top.location = '/login';
                }else if(jsonData.success === false){
                    //其他的异常情况,给个提示。
                    alert(jsonData.message);
                }else{

                }
            }catch(e){
                alert(e);
            }
        }
    });

    function selectUser() {
        document.getElementById("userSelect").length = 0;
        $.post('pay/user/select',function(data){
            if(data.success === true){
                for (var i = 0; i < data.rows.length; i++) {
                    var jsonObj = data.rows[i];
                    $("#userSelect").append("<option value='"+jsonObj.id+"'>" + jsonObj.name + "</option>");
                }
            }
        },'json');
    }

    function addfunction() {
        selectUser();
        $('#addDig').dialog('open');
    }
    function updatefunction(){
        var rows = $('#datagrid').datagrid('getSelections');
        if(rows.length !== 1){
            $.messager.alert('提示','请选择一条要修改的记录','error');
            return ;
        }
        $('#updateFrom').form('load',rows[0]);
        //打开编辑窗口
        $('#updateDig').dialog('open');
    }

    function saveFunction() {
        const userId = $("#userSelect").val();
        const payable = $("#payable").val();
        const realWages = $("#realWages").val();
        const month = $("#month").val();
        $.post('pay/salary/add',{userId:userId,payable:payable,realWages:realWages,month:month},function(data){
            if(data.success === true){
                $('#addDig').dialog('close');
                $('#addForm').form('clear');
                $('#datagrid').datagrid('load');
                $.messager.show({
                    title:'提示',
                    msg:'操作成功'
                });
            }
        },'json');
    }

    function toUpdate(){
        const id = $("#id").val();
        // const userId = $("#userSelect").val();
        const payable = $("#payable").val();
        const realWages = $("#realWages").val();
        const month = $("#month").val();
        $.post('pay/salary/update',{id:id,payable:payable,realWages:realWages,month:month},function(data){
            if(data.success === true){
                $('#updateDig').dialog('close');
                $('#updateForm').form('clear');
                $('#datagrid').datagrid('load');
                $.messager.show({
                    title:'提示',
                    msg:'修改成功'
                });
            }
        },'json');
    }

    function deletefunction(){
        var rows = $('#datagrid').datagrid('getSelections');
        if(rows.length === 0){
            $.messager.alert("提示",'请选择要删除的记录','error');
        }else{
            $.messager.confirm('提示','是否确认删除',function(f){
                if(f == true){
                    $.post('pay/salary/delete',{id:rows[0].id},function(data){
                        if(data.success === true){
                            $.messager.show({
                                title:'提示',
                                msg:'操作成功'
                            });
                            $('#datagrid').datagrid('load');
                        }
                    });
                }
            });
        }
    }

</script>

</body>
</html>